In [3]:
import os
import pandas as pd

# Directory containing the CSV files
results_dir = os.path.join('..', 'results')

# Elenco dei file che iniziano con "benchmark" e terminano con ".csv"
benchmark_csvs = [f for f in os.listdir(results_dir) if f.startswith("benchmark") and f.endswith(".csv")]

if not benchmark_csvs:
    raise FileNotFoundError("Nessun file CSV che inizia con 'benchmark' trovato in ../results")

# Seleziona il file con il nome lessicografico maggiore (assunto pi√π recente)
latest_csv = max(benchmark_csvs)
csv_path = os.path.join(results_dir, latest_csv)

print("CSV importato da:", csv_path)

# Importa il CSV in un DataFrame di pandas
df = pd.read_csv(csv_path, delimiter=';')

df.head()

CSV importato da: ../results/benchmark_results_20250320_105510.csv

,implementation,input_string,batch_size,regex_pattern,match_result,execution_time_ms,kernel_time_ms,mem_transfer_time_ms,memory_used_bytes,gpu_util_percent,num_states,match_success,compilation_time_ms,num_symbols,number_of_accepting_states,start_state
0,Triton,0101,1,(0|1)*1,1,1.057625,1.056910,0.5,10000,0.0,2,True,1.0,2,1,0
1,Triton,0100,1,(0|1)*0,1,1.052141,1.051664,0.5,10000,0.0,2,True,1.0,2,1,0
2,Triton,01011,1,(0|1)*11,1,1.049757,1.049757,0.5,10000,0.0,2,True,1.0,2,1,0
3,Triton,01100,1,(0|1)*00,1,1.048565,1.048326,0.5,10000,0.0,2,True,1.0,2,1,0
4,Triton,0101,1,0101,1,1.048088,1.047850,0.5,10000,0.0,2,True,1.0,2,1,0

In [4]:
df.shape

(112, 16)

In [5]:
# separa i dati in cuda e triton per implementation
cuda_df = df[df['implementation'] == 'CUDA']
triton_df = df[df['implementation'] == 'Triton']

In [6]:
cuda_df.head()

,implementation,input_string,batch_size,regex_pattern,match_result,execution_time_ms,kernel_time_ms,mem_transfer_time_ms,memory_used_bytes,gpu_util_percent,num_states,match_success,compilation_time_ms,num_symbols,number_of_accepting_states,start_state
57,CUDA,0101,1,(0|1)*1,1,0.01,0.01,0.0,0,0.0,3,True,0.0,2,1,0
58,CUDA,0100,1,(0|1)*0,1,0.01,0.01,0.0,0,0.0,3,True,0.0,2,1,0
59,CUDA,01011,1,(0|1)*11,1,0.01,0.01,0.0,0,0.0,3,True,0.0,2,1,0
60,CUDA,01100,1,(0|1)*00,1,0.01,0.01,0.0,0,0.0,3,True,0.0,2,1,0
61,CUDA,0101,1,0101,1,0.01,0.01,0.0,0,0.0,3,True,0.0,2,1,0

In [7]:
# describe
cuda_df.describe()

,batch_size,match_result,execution_time_ms,kernel_time_ms,mem_transfer_time_ms,memory_used_bytes,gpu_util_percent,num_states,compilation_time_ms,num_symbols,number_of_accepting_states,start_state
count,55.0,55.0,55.00,55.00,55.0,55.0,55.0,55.0,55.0,55.0,55.0,55.0
mean,1.0,1.0,0.01,0.01,0.0,0.0,0.0,3.0,0.0,2.0,1.0,0.0
std,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,1.0,1.0,0.01,0.01,0.0,0.0,0.0,3.0,0.0,2.0,1.0,0.0
25%,1.0,1.0,0.01,0.01,0.0,0.0,0.0,3.0,0.0,2.0,1.0,0.0
50%,1.0,1.0,0.01,0.01,0.0,0.0,0.0,3.0,0.0,2.0,1.0,0.0
75%,1.0,1.0,0.01,0.01,0.0,0.0,0.0,3.0,0.0,2.0,1.0,0.0
max,1.0,1.0,0.01,0.01,0.0,0.0,0.0,3.0,0.0,2.0,1.0,0.0

In [8]:
triton_df.describe()

,batch_size,match_result,execution_time_ms,kernel_time_ms,mem_transfer_time_ms,memory_used_bytes,gpu_util_percent,num_states,compilation_time_ms,num_symbols,number_of_accepting_states,start_state
count,57.0,57.0,57.000000,57.000000,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0
mean,1.0,1.0,1.045921,1.045721,0.5,10000.0,0.0,2.0,1.0,2.0,1.0,0.0
std,0.0,0.0,0.005049,0.004983,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,1.0,1.0,1.034498,1.034498,0.5,10000.0,0.0,2.0,1.0,2.0,1.0,0.0
25%,1.0,1.0,1.041889,1.041889,0.5,10000.0,0.0,2.0,1.0,2.0,1.0,0.0
50%,1.0,1.0,1.044989,1.044989,0.5,10000.0,0.0,2.0,1.0,2.0,1.0,0.0
75%,1.0,1.0,1.049757,1.049757,0.5,10000.0,0.0,2.0,1.0,2.0,1.0,0.0
max,1.0,1.0,1.058340,1.058102,0.5,10000.0,0.0,2.0,1.0,2.0,1.0,0.0

In [ ]:
# Legge il file e costruisce un dataframe con le colonne: name, regex, input, expected
data = []
with open('../tests/cases/test_cases.txt', 'r') as f:
    lines = f.readlines()

current_test = None
for line in lines:
    line = line.strip()
    if not line or line.startswith('#'):
        continue

    if line.startswith('[') and line.endswith(']'):
        if current_test:
            data.append(current_test)
        # Crea un nuovo test e memorizza il nome rimuovendo le parentesi quadre
        current_test = {'name': line.strip('[]')}
    elif '=' in line and current_test is not None:
        key, value = line.split('=', 1)
        key = key.strip()
        value = value.strip()
        # Per la colonna expected, converte in bool se possibile
        if key == 'expected':
            if value.lower() == 'true':
                value = True
            elif value.lower() == 'false':
                value = False
        current_test[key] = value

if current_test:
    data.append(current_test)

# Crea il DataFrame con le colonne rilevanti
df_tests = pd.DataFrame(data)
df_tests

,name,regex,input,expected
0,Basic_EndsWith1,(0|1)*1,0101,True
1,Basic_EndsWith0,(0|1)*0,0100,True
2,Basic_EndsWithTwo1s,(0|1)*11,01011,True
3,Basic_EndsWithTwo0s,(0|1)*00,01100,True
4,Literal_ExactMatch,0101,0101,True
5,Literal_NoMatch,0101,0100,False
6,Literal_PartialMatch,0101,01010,False
7,Star_EmptyString,(0|1)*,,True
8,Star_RepeatedBits,1*0*,11110000,True
9,Star_MixedOrder,1*0*,11001100,False
10,Alt_SingleChar,0|1,0,True
11,Alt_NestedGroups,(00|11)(01|10),0010,True
12,Alt_Mixed,(00|11)(01|10),1101,True
13,Alt_Invalid,(00|11)(01|10),0000,False
14,Length_Even,(01|10|00|11)(01|10|00|11)*,0101,True
15,Length_Odd,(01|10|00|11)(01|10|00|11)*,010,False
16,Length_Mod3,((0|1)(0|1)(0|1))*,010101,True
17,Length_NotMod3,((0|1)(0|1)(0|1))*,0101,False
18,Position_StartsWith1,1(0|1)*,1010,True
19,Position_StartsWith0,0(0|1)*,0010,True
20,Position_StartsAndEnds,1(0|1)*1,1001,True
21,Combo_StartEnd,1(0|1)*0,10110,True
22,Combo_NoMiddle0,1[^0]*1,1111,True
23,Combo_ThreeConsecutive1s,(0|1)*111(0|1)*,0111010,True
24,Combo_No3Consecutive1s,(0|(10)|(110))*,01101010,True
25,Edge_SingleChar,0,0,True
26,Edge_EmptyString,,,True
27,Edge_LongString,(0|1)*,0101010101010101010101010101010101010101,True
28,Edge_ZeroOnes,0*1*,000111,True
29,Special_ContainsSubstring,(0|1)*101(0|1)*,0010100,True
30,Special_NoContainsSubstring,(0|1)*101(0|1)*,001100,False
31,Special_DivisibleBy3,(0|1)*(00|11),1100,True
32,Special_AlternatingBits,(01)*(0)?|(10)*(1)?,010101,True
33,Special_NotAlternating,(01)*(0)?|(10)*(1)?,01100,False
34,Adv_OptionalElement,10?1,101,True
35,Adv_OptionalElement2,10?1,11,True
36,Adv_OptionalElement3,10?1,100,False
37,Adv_Repetition,1{3},111,True
38,Adv_RepetitionFail,1{3},11,False
39,Adv_RepetitionGroup,(01){2},0101,True
40,Adv_NestedGroups,((01){2}0)*,01010,True
41,Neg_NoZeros,1*,111,True
42,Neg_NoZerosFail,1*,1101,False
43,Neg_NegatedClass,0[^0]*0,01110,True
44,Neg_DoubleNegation,1[^0]*[^1]*0,11110,True
45,Complex_Even1s,(0*(10*10*))*,00100100,True
46,Complex_Even1sFail,(0*(10*10*))*,0010010,True
47,Complex_DivisibleBy4,(0|1)*00,10100,True
48,Complex_MultOf3,(0|(1(01*0)*1))*,110,True
49,Complex_NotMultOf3,(0|(1(01*0)*1))*,10,False
50,Complex_Palindrome4,(00|11)(00|11)|(01|10)(10|01),1001,True
51,Complex_Palindrome4Fail,(00|11)(00|11)|(01|10)(10|01),1011,False
52,Complex_NoConsecutive1,(0|10)*1?,010101,True
53,Complex_NoConsecutive1Fail,(0|10)*1?,0110,False
54,Extra_RepeatedPattern,(01){3},010101,True
55,Extra_MismatchTest,(0|1)+,,False
56,Complex_LongPattern,(01){10},01010101010101010101,True
57,Complex_MixedGroups2,"((0|1)+)?(1{2,3}(0*))",11000,True