In [1]:
import os
import pandas as pd

# Directory containing the CSV files
results_dir = os.path.join('..', 'results')

# Elenco dei file che iniziano con "benchmark" e terminano con ".csv"
benchmark_csvs = [f for f in os.listdir(results_dir) if f.startswith("benchmark") and f.endswith(".csv")]

if not benchmark_csvs:
    raise FileNotFoundError("Nessun file CSV che inizia con 'benchmark' trovato in ../results")

# Seleziona il file con il nome lessicografico maggiore (assunto pi√π recente)
latest_csv = max(benchmark_csvs)
csv_path = os.path.join(results_dir, latest_csv)

print("CSV importato da:", csv_path)

# Importa il CSV in un DataFrame di pandas
df = pd.read_csv(csv_path, delimiter=';')

df.head()

CSV importato da: ../results/benchmark_results_20250319_151313.csv

,Triton,0101,1,(0|1)*1,1.1,1.0597705841064453,1.058816909790039,0.5,10000,0.0,2,True,1.0,2.1,1.2,0
0,Triton,0100,1.0,(0|1)*0,1.0,1.035690,1.034975,0.5,10000.0,0.0,2.0,True,1.0,2.0,1.0,0.0
1,Triton,01011,1.0,(0|1)*11,1.0,1.054287,1.054049,0.5,10000.0,0.0,2.0,True,1.0,2.0,1.0,0.0
2,Triton,01100,1.0,(0|1)*00,1.0,1.053572,1.053333,0.5,10000.0,0.0,2.0,True,1.0,2.0,1.0,0.0
3,Triton,0101,1.0,0101,1.0,1.053810,1.053572,0.5,10000.0,0.0,2.0,True,1.0,2.0,1.0,0.0
4,Triton,0100,1.0,0101,1.0,1.054287,1.054049,0.5,10000.0,0.0,2.0,True,1.0,2.0,1.0,0.0